@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="password"],
  [type="email"],
  [type="number"],
  [type="url"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="week"],
  [type="time"],
  [type="search"],
  [type="tel"],
  [type="radio"],
  [multiple],
  select,
  select[multiple],
  textarea {
    @apply focus:outline-none focus:ring-0 focus:ring-offset-0
      dark:focus:outline-none dark:focus:ring-0 dark:focus:ring-offset-0;
  }
}

@layer base {
  :root {
    --primary-bg: 210 20% 98%;
    --primary-fg: 220.9 39.3% 11%;
    --primary-ring: 220.9 39.3% 11%;
    --selection-bg: 50.4 97.8% 63.5%;
    --selection-fg: 220.9 39.3% 11%;

    /* Primary button */
    --btn-primary: 198.6 88.7% 48.4%;
    --btn-primary-fg: 0 0% 100%;
    --btn-primary-ring: 198.6 88.7% 48.4%;
    --btn-primary-hover: 200.4 98% 39.4%;
    --btn-primary-disabled: 199.4 95.5% 73.9%;
  }
}
